* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background:
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255,255,255,0));
}

#header-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 30px 20px;
}

nav {
    border: 5px solid black;
    border-radius: 10px;
    padding: 15px;
    gap: 20px;
}

a {
    margin: 10px 10px;
    padding: 10px;
    color: rgb(46, 51, 55);
}

#contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.contact__title {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact__text {
    margin: 20px 20px;
    font-size: 18px;
    font-weight:  500;
}

#contact-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.form__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

.form__group label {
    margin-bottom: 5px;
    font-weight: 500;
}

.form__group input,
.form__group textarea {
    padding: 8px;
    border-radius: 10px;
}

button {
    padding: 8px;
    border-radius: 10px;
    gap: 20px;
}

button:hover {
    
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    color: white;
    text-align: center;
}
