* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background:
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255,255,255,0));
}

#header-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 1.875rem 1.25rem;
}

nav {
    border: 0.3125rem solid black;
    border-radius: 0.625rem;
    padding: 0.9375rem;
    gap: 1.25rem;
}

a {
    margin: 0.625rem 0.625rem;
    padding: 0.625rem;
    color: rgb(46, 51, 55);
}

#contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1.875rem;
}

.contact__title {
    font-size: 3.25rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact__text {
    margin: 1.25rem 1.25rem;
    font-size: 1.125rem;
    font-weight:  500;
}

.form__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25rem;
    margin-bottom: 0.9375rem;
}

.form__group label {
    margin-bottom: 0.3125rem;
    font-weight: 500;
}

.form__group input,
.form__group textarea {
    padding: 0.5rem;
    border-radius: 0.625rem;
}

button {
    padding: 0.5rem;
    border-radius: 0.625rem;
    gap: 1.25rem;
    margin-left: 2.1875rem;
}

button:hover { /*Añadir hover para el botón*/

}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 1.25rem;
    color: white;
    text-align: center;
}
