* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background:
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255,255,255,0));
}

#header-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 30px 20px;
}