* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background:
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255,255,255,0));
}

#header-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 1.875rem 1.25rem;
}

nav {
    border: 0.3125rem solid black;
    border-radius: 0.625rem;
    padding: 0.9375rem;
}

a {
    margin: 0.625rem 0.625rem;
    padding: 0.625rem;
    color: rgb(46, 51, 55);
}

#intro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.intro__title{
    margin: 1.25rem 0.625rem;
    font-size: 3.25rem;
    font-weight: bold;
}

.intro__text {
    margin: 1.25rem 1.25rem;
    font-size: 1.125rem;
    font-weight: 500;
    width: 90%;
}

#tennis_actual {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.intro__subtitle {
    margin: 1.25rem 0.625rem 0.625rem 0.625rem;
    font-size: 2.25rem;
    font-weight: bold;
}


li {
    background:
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255,255,255,0)) !important;
    color: rgb(2, 2, 2) !important;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background:
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255,255,255,0));
    color: white;
    text-align: center;
}